html,
body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

#background {
    z-index: -1;
    position: absolute;
    bottom: 0px;
    left: 0;
    top: 75vh;
}

.main {
    padding: 20px auto;
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
}

#main-illustration {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 500px;
    width: 100%;
    height: auto;
}

#people-illustration {
    z-index: -2;
    position: absolute;
    top: 50vh;
    left: 37vw;
    width: 22%;
    height: auto;
}

.launch-giveaway {
    float: right;
    width: 35vw;
    margin-right: 7vw;
    margin-top: 7vh;
}

.main-content {
    margin-top: 10vh;
    margin-left: 7vw;
    width: 30vw;
    letter-spacing: 0.4px;
    text-align: justify;
}

.main-content p {
    line-height: 24px;
}

.main-content #below-submit {
    font-size: 14px;
    text-align: center;
}
.about-csi {
    margin-top: 70vh;
    margin-left: 7vw;
    width: 30vw;
    text-align: justify;
    color: white;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.ala {
    display: inline-block;
    vertical-align: 5px;
}

/* Tarush */

.input-field {
    width: 95%;
    padding: 2.5%;
    margin: 3% 0;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #666;
    font-size: 14px;
    letter-spacing: 0.8px;
    font-weight: 400;
}

.input-container {
    padding: 0 10%;
}
.submit {
    font-size: 14px;
    width: 100%;
    border: 0;
    padding: 3% 0;
    margin-top: 5%;
    margin-bottom: 2%;
    color: white;
    border-radius: 3px;
    background-color: #3a41c5;
    letter-spacing: 1px;
    transition: all 0.3s ease 0s;
}

.chapter-and-more {
    margin-top: 15%;
}
.social {
    display: inline-block;
    width: 32.3%;
}

@media screen and (max-width: 1500px) and (min-width: 1360px) {
    .about-csi {
        margin-top: 50vh;
    }

    .chapter-and-more {
        margin-top: 25%;
    }
}

/* End Tarush */

/* begin Pranshu */

@media screen and (max-width: 1360px) and (min-width: 1317px) {
    .about-csi {
        margin-top: 45vh;
    }
    .chapter-and-more {
        margin-top: 15%;
    }
    .launch-giveaway {
        margin-top: 11vh;
    }
}

@media screen and (max-width: 1317px) and (min-width: 900px) {
    .about-csi {
        margin-top: 35vh;
    }
    .chapter-and-more {
        margin-top: 15%;
    }
    .launch-giveaway {
        margin-top: 11vh;
    }
}

#small .fa-facebook {
    color: #3b5998;
  }

#small .fa-twitter {
    color: #1da1f2;  
  }
#small .fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.social a {
    color: inherit;
    text-decoration: none;
    transition-duration: 0.4s;
}

.launch-giveaway a{
    color: #3A41C5;
    text-decoration: none;
    font-weight: 700;
}

.launch-giveaway a:hover{
    color: rgb(36, 46, 133);
}


#mobiletext a{
    color: #3A41C5;
    text-decoration: none;
    font-weight: 700;
}


.submit:hover{
    background: rgb(36, 46, 133);
}

/*  End Pranshu  */

/* Begin Akshay */
@media screen and (min-width: 1500px) {
    #people-illustration {
        top: 35vh;
    }
    #main-illustration {
        max-width: 600px;
    }
    #background {
        top: 52vh;
    }
    .about-csi {
        margin-top: 35vh;
    }
    .chapter-and-more {
        margin-top: 15%;
    }
    .launch-giveaway {
        margin-top: 20vh;
    }
}

/* PAVITHRA breakpoint */

@media only screen and (min-width: 1138px) {
    div.desktop {
        display: block;
    }
    div.small_screen {
        display: none;
    }
}
@media only screen and (max-width: 1138px) {
    div.small_screen {
        display: block;
        background: white;
    }
    div.desktop {
        display: none;
    }

    body{
        background: #F5F5F5;
    }

/* Pavithra CSS */

    div.small_screen {
        max-width: 700px;
        margin: 0 auto;
    }
    body {
        margin: 0;
        padding: 0;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        letter-spacing: 0.4px;
    }

    #name,
    #email {
        padding: 2.5%;
        width: 80%;
        margin: 3% 0;
        border-radius: 2px;
        background-color: #ffffff;
        border: solid 1px #666;
        font-size: 16px;
        letter-spacing: 0.4px;
        font-weight: 400;
    }

    .btn {
        font-size: 14px;
        width: 85%;
        border: 0;
        padding: 3% 0;
        margin-top: 5%;
        margin-bottom: 2%;
        color: white;
        border-radius: 3px;
        background-color: #3a41c5;
        letter-spacing: 0.4px;
        text-align: center;
        transition-duration: 0.4s;
    }

    h1 {
        font-size: 26px;
        text-align: center;
    }



    ol {
        text-align: left;
    }

    hr {
        width: 100%;
        margin: 0 auto;
        color: #666;
    }

    .small_screen {
        align-content: center;
        align-items: center;
        text-align: justify;
    }

    .wrap {
        padding: 0 5%;
    }

    .form {
        text-align: center;
        padding: 0;
    }

    .image {
        padding: 0;
        justify-content: center;
        text-align: center;
    }

    a {
        padding: 0;
        color: #000000;
        text-decoration: none;
        transition-duration: 0.4s;
    }

    a:hover {
        color: #3a41c5;
    }

    .logos{
        width: 8vw;
    }

    tr {
        height: 10vw;
        width: 20vw;
    }

    td {
        vertical-align: middle;
        padding: 3vw;
    }
    td img {
        position: relative;
        top: 2px;
    }
    /* Added fixings */
    .wrap h1 {
        letter-spacing: 0.4px;
    }
    .wrap p {
        line-height: 24px;
    }
    .wrap #below-submit {
        font-size: 14px;
        text-align: center;
    }
    .small-hr {
        width: 90%;
    }
}
